@media (min-width: 956px) {
  .horizontal-divider {
    width: 1px;
    height: auto !important;
    margin-right: 1rem !important;
    overflow: hidden;
    border-left: 1px solid #e9ecef;
  }
}

#content-header {
  background-image: url("../img/knowledge_base.jpg");
}

.content-header-bg {
  background-color: rgba(0, 0, 0, 0.5);
}
.split {
  -webkit-columns: 2 auto;
  -moz-columns: 2 auto;
  columns: 2 200px;
  /* -moz-column-fill: auto;
  /* column-fill: auto; */
}

div {
  page-break-inside: avoid;
}

@media (max-width: 500px) {
  #links {
    columns: 1 auto;
  }
}
